* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.top {
    background-image: url(img/topbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
}

.header__heading {
    padding-top: 217px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
}

.header__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    margin-top: 32px;
    width: 481px;
}

.header__button {
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 44px;
    &:hover {
        border-radius: 30px;
        background: #EB443F;
        cursor: pointer;
    }
}

.bottom {
    background-image: url(img/footerbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
}

.item-box__item {
    position: relative;
    text-align: center;
}

.item-box__img {
    border-radius: 16px;
    &:hover {
        border-radius: 16px;
        border: 3px solid #44D2FF;
        cursor: pointer;
    }
}

.item-box__text {
    position: absolute;
    bottom: 37px;
    left: 16px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
}

@import 'mobile';